<html>
    <head>
        <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src = '/jQuery.js'></script>
        <style>
            .inputtext {
                width:400px;
                height:40px;
            }
            .topcolor {
                height:10px;
                width:100%;
            }
            .header{
                width: 100%;
                height: 8%;
                background-color: red;
            }
            .form_container{
                border-radius: 10px;
                background-color: #d1cdcd;
                width: 500px;
                height: 300px;

                display: inline-block;
                
            }
            #login_btn{
                margin-top: 10px;
                background-color: red;
                color: white;
                width: 200px;
            }
            #user_field{
                width: 300px;
                margin: auto;
                left: 0;
                right: 0;
            }
            #pw_field{
                width: 300px;
                margin: auto;
                left: 0;
                right: 0;
            }
            .form_div_container{
                margin-top: 8%;
                text-align: center;;
            }
            .input_container{
                margin-top: 15%;
            }
        </style>
        <script>
            let warning = {{error}}
            $( document ).ready(function() {
                if(warning === 1){
                    alert("Wrong Password");   
                }
                else if(warning === 2){
                    alert("Username Does not Exist");
                }
            });
        </script>
    </head>
    <body>
        <div class="header"></div>
        <div class="form_div_container">
            <form method = "post" action = "login" class="form_container">
            <div class = "bg-danger"></div>
            <div class="input_container">
                <input type = "text" class="form-control inputtext" name = 'un' id="user_field" placeholder="Username">
                <input type = "password" class="form-control inputtext" name = 'pw' id="pw_field" placeholder="Password">
                <button type="submit" class="btn btn-primary" id="login_btn">LOGIN</button> 
            </div>
            </form>
        </div>
        
    </body>
</html>